.profile-image {
    max-width: 90%;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.6);
}

.actor-info {
    display: flex;
    justify-content: center;
    flex-direction: column !important;
}