.pageNotFound {
    height: 700px;
    padding-top: 200px;
}
.pageNotFound .contentWrapper {
    text-align: center;
    color: var(--black-light);
    display: flex;
    flex-direction: column;
}
.pageNotFound .bigText {
    font-size: 150px;
    font-weight: 700;
}
.pageNotFound .smallText {
    font-size: 44px;
}