.circleRating {
    background-color: white;
    border-radius: 50%;
    padding: 2px;
}
.CircularProgressbar .CircularProgressbar-text {
    font-size: 34px;
    font-weight: 700;
    fill: var(--black);
}
.CircularProgressbar-trail {
    stroke: transparent;
}

.movie-links .circleRating {
    width: 50px;
    position: absolute;
    top: 270px;
    left: 10px;
}
